# private root data folders
/SPM_Outputs/
/ANTs_Outputs/
/subPETs_forIlyaReview/
/PET_MNI/
/PET_Space/

# OS/editor clutter
.DS_Store
Thumbs.db
.vscode/
__pycache__/
*.pyc

# secrets
.env
ProNotes.md
